<dive class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel_defaul">
      <div class ="panel_body">


          <h1>New Profile</h1>

          <%= render 'form' %>

          <%= link_to 'Back', profiles_path %>
      </div>
    </div>
  </div>
</div>
